// colors
$c-primary: #26bec9;
$c-danger: #ef7a70;
$c-warning: #ffb400;
$c-secondary: #138184;
$c-white: #fff;

.calendar {
	position: relative;
}

.nav-year, .nav-month {
	white-space: nowrap;
	user-select: none;
	.item {
		float: none;
		display: inline-block;
		.month, .year {
			text-align: center;
			min-width: 80px;
			display: inline-block;
		}
	}
}
.nav-year {
	position: relative;
	padding-top: 10px;
	overflow-x: auto;
	overflow-y: hidden;
	// Hide IE scrollbar
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		// Hide Chrome Safari scrollbar
		display: none;
	}
	.item-year {
		.year {
			font-size: 12px;
			color: #999;
			position: sticky;
			left: 0px;
			width: 80px;
		}
	}
	.underline {
		position: absolute;
		bottom: 0px;
		height: 3px;
		background-color: $c-primary;;
	}
}
.nav-month {
	border-bottom: 1px solid #eee;
	.item-month {
		border-bottom: 3px solid transparent;
		.month {
			font-size: 14px;
			color: #333;
			background-color: transparent;
			transition: color .3s;
		}
		&.active {
			color:$c-primary;
			.month {
				color: $c-primary;
			}
		}
	}

}

.table-wrapper {
	position: relative;
	user-select: none;
}

.date-table {
	width: 100%;
	padding: 5px;
	border-collapse: separate;
	table-layout: fixed;
	font-size: 14px;
	border-spacing: 0px 4px;
}

.cell-day {
	padding: 12px 0;
	text-align: center;
	color: #999;
	font-size: 12px;
	font-weight: normal;
}

.cell-date {
	position: relative;
	text-align: center;
	vertical-align: baseline;

	.date-num {
		display: inline-block;
		position: relative;
		width: 32px;
		height: 32px;
		line-height: 32px;
		border-radius: 50%;
	}

	&.selectable {
		cursor: pointer;
	}

	&.selected, &.selecting {
		.date-num {
			color: $c-white;
			background-color: $c-primary;
		}
	}

	&.selected {
		background-color: $c-primary;
		&.selected-start {
			background-image: linear-gradient(90deg, $c-white 0%, $c-white 50%, transparent 50%, transparent 100%);
		}
		&.selected-end {
			background-image: linear-gradient(90deg, transparent 0%, transparent 50%, $c-white 50%, $c-white 100%);
		}
		&.selected-start.selected-end {
			background: transparent none;
		}
	}
}

.cell-date.disabled {
	cursor: not-allowed;
	color: #cccccc;
	background-color: transparent;

	.date-num {
		text-decoration: line-through;
		background-color: transparent;
	}
}

.cell-date.today {
	color: $c-primary;
}

.bottom {
	text-align: center;
	padding: 10px 15px;
	border-top: 1px solid #eee;
	color: #999;
	.selected-date {
		color: #666;
		background-color: #eff9fa;
		padding: 10px;
		border-radius: 4px;
		margin-bottom: 10px;
	}
}

.error-msg {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	color: $c-white;
	background-color: $c-primary;
	padding: 6px 15px;
	border-radius: 20px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s ease .3s, opacity .3s;
	&.active {
		visibility: visible;
		opacity: 1;
		transition: visibility 0s ease 0s, opacity .3s;
	}
}

